#fondo {
    background-image: linear-gradient(to bottom right, rgba(147, 115, 236, 0.623), #06268f);
}

.bio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#biographical-data-bg{  
    background-color: #e0e0e0;
}

#bio-img{
    width: 20rem;
}

.ac-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#academical-data-bg{
    background-color: #e0e0e0;
}

#ac-img{
    width: 100%;
}

#row{
    margin-right: 0px !important;
}

#tittle-interests {
    background-image: linear-gradient(to bottom right, rgba(147, 115, 236, 0.623), rgb(6, 38, 143));
}

#responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#container-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#botones-container{
    display: flex;
    justify-content: space-around;
}

.body {
    font-family: 'Lato', sans-serif !important;
}

a:hover {
    background-color: rgba(255, 217, 0, 0.747);
    border-radius: 15px;
}